.butn{
    text-align: center;
    padding-top: 30px;
    
}
.butn1{
    color: rgb(40, 110, 215);
    font-size: large;
    font-weight: 600;
    background-color: rgb(11, 11, 48);
    border: 1px solid rgb(40, 110, 215);
    border-radius: 9px;
    padding: 9px;
    margin-right: 10px;
    text-decoration: none;
}
.butn2{
    color:rgb(11, 11, 48);
    font-size: large;
    font-weight: 600;
    background-color:rgb(40, 110, 215) ;
    border: 1px solid rgb(11, 11, 48);
    border-radius: 9px;
    padding: 9px;
    margin-left: 10px;
    text-decoration: none;
}
.butn1:hover{
    background-color: white;
}
.butn2:hover{
    background-color: white;
}
.scroll__down{
    text-decoration: none;
    position: absolute;
    right: 15.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
}
